doctype
html(lang=en)
	head
		meta(charset=utf-8)
		meta(name=viewport, content="width=device-width", initial-scale="1.0")
		title document
		link(rel="stylesheet", href="style.css")
body
	header
		.navitaion-wrapper.container

			a(href="javascript:void(0)")
				img(src="img/logotype.png")

			aside

				p
					span Наш адрес: <br>
					| ул. Борсоева, 56
				button.success 8 (3012) 44-03-66

			nav
				ul.nav
					li
						a(href='#') Салаты
					li
						a(href='#') Горячее
					li
						a(href='#') Пицца
					li
						a(href='#') Напитки
				button.toggler
					span
					span
					span

