$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1140px) !default;

$body-bg: #111  !default;
$body-color: #eee  !default;
$body-text-align: null !default;

@import '~bootstrap/scss/bootstrap';

button {
    border: 0;
}